*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient( rgb(11, 86, 184), rgb(255,203,5) );
    font: normal 15pt Arial;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}
header{
    color: rgb(255,203,5);
    text-align: center;
    font-size: 2rem;
    font-family: pokemon;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 2px; /* largura da borda */
    -webkit-text-stroke-color: rgb(61,125,202); /* cor da borda */
    
}
section{
    background-color:  white;
    border-radius: 10px;
    padding: 1%;
    width: 40%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-flow: column;
    font-family: gba;
    letter-spacing: -2px;
}
footer{
    text-align: center;
    font: italic;
    color: rgb(255,203,5);
    margin: 1%;
    font-family: pokemon;
    -webkit-text-stroke-width: 2px; /* largura da borda */
    -webkit-text-stroke-color: rgb(70, 142, 236); /* cor da borda */
}
@media (max-width:500px) {
    section{
        font-size: 1rem;
    }
    input{
        width: 70%;
    }
    header{
        font-size: 1.3rem;
    }
}
p{
    margin-bottom: 1% ;
}
input{
    margin: 1%;
    background-image: url();
    outline: none;
}
#day{
    margin-left: 1%;
}
#btn {
    width: 5%;
}
@font-face {
    font-family: 'pokemon';
    src: url(Fonts/PokemonSolidNormal-xyWR.ttf);
}
@font-face {
    font-family: 'gba';
    src: url(Fonts/PokemonGb-RAeo.ttf);
}
#box{
    width: 100%;
}
#pic{
    width: 40%;
    display: block;
    margin-left: 28%;
    margin-top: 5%;
}
#res{
    text-align: center;
}
#name{
    text-align: center;
}