*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(213, 87, 28);
    font: normal 15pt Arial;
    display: flex;
    flex-direction: column;
}
header{
    color: yellow;
    text-align: center;
    margin: 1%;
    margin-top: 5%;
    font-family: pokemon;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 2px; /* largura da borda */
    -webkit-text-stroke-color: rgb(70, 142, 236); /* cor da borda */
    
}
section{
    background-color:  white;
    border-radius: 10px;
    padding: 1%;
    width: 42%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-flow: column;
}
footer{
    text-align: center;
    font: italic;
    color: yellow;
    margin: 1%;
    font-family: pokemon;
    -webkit-text-stroke-width: 2px; /* largura da borda */
    -webkit-text-stroke-color: rgb(70, 142, 236); /* cor da borda */
}
p{
    margin-bottom: 1% ;
}
input{
    margin: 1%;
    background-image: url();
    outline: none;
}
#day{
    margin-left: 2%;
}
#btn {
    /* background-image: url(images/pokebola.png); */
    width: 5%;
}
@font-face {
    font-family: 'pokemon';
    src: url(Fonts/PokemonSolidNormal-xyWR.ttf);
}
#box{
    width: 100%;
}
#pic{
    width: 50%;
    display: block;
    margin-left: 25%;
    margin-top: 5%;
}
#res{
    text-align: center;
}
#name{
    text-align: center;
}